{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">

    <link rel="stylesheet" href="{%  static "css/style.css" %}">
    <title> {{ title }} | Gister</title>
    {% block styles %}
    {% endblock %}

    {% block head %}
    {% endblock %}
  </head>
  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-co">
	<a class="navbar-brand" href="/">
	  <img src="{%  static "images/logo.png" %}" class="d-inline-block align-top" alt="">
	</a>

	<ul class="navbar-nav ">
	  <li class="nav-item">
        <a class="nav-link" href="/gists">All gists</a>
	  </li>
        <li class="nav-item">
        <a class="nav-link my-gists">My gists</a>
	  </li>
	</ul>
      </div>
      <div class="navbar-co">
	<form class="form-inline">
	  <input class="form-control mr-sm-2" id="searchbox" type="search" placeholder="Search" aria-label="Search">
	  <button class="btn btn-outline-success my-2 my-sm-0 hip-green search-action">Search</button>
	</form>

	<a href="/" type="button" class="btn btn-link" aria-label="Left Align">
	  <span class="fas fa-plus" aria-hidden="true">Gist</span>
	</a>
	<div class="login">
       <p id="login">Login</p>
    </div>
	  <div class="user-login">
        <div id="login-status" style="display: none !important;" class="d-flex align-items-center">
          <div class="spinner-border text-light" role="status" aria-hidden="true"></div>
        </div>
	    <div id="identicon"></div>
        <p id="username"></p>
	</div>

     </div>
    </div>
  </nav>

    {% block content %}
    {% endblock %}

    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.2.6/dist/web3.min.js"></script>

    {% block scripts %}
    {% endblock %}

    <script src="https://unpkg.com/3box/dist/3box.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/blockies-identicon@0.1.0/blockies.min.js"></script>
    <script>
      $(document).ready(async () => {
        const web3 = new Web3(Web3.givenProvider || "ws://localhost:8545");
        $('#login-status').attr('style','display:block !important');
        try {

          const address = (await window.ethereum.enable())[0];
          document.contxt.address = address;
          var icon = blockies.create({ // All options are optional
            seed: address, // seed used to generate icon data, default: random
          });
          $('#identicon').append(icon)
          $('#login').attr('style','display:none !important');

          const profile = await Box.getProfile(address);
          // const box = await Box.openBox(address, Web3.givenProvider);
          $('#login-status').attr('style','display:none !important');
          $('#username').text(profile.name || profile.handle || address)

        } catch (error) {
          $('#login-status').attr('style','display:none !important');
            // User denied account access
            console.log(error)
        }

        $('.search-action').on('click', (e) => {
          e.preventDefault();
          const search = $('#searchbox').val()
          if (search.length > 0) {
            window.location = `/gists?q=${search}`
          }
        });

        $('.my-gists').on('click', async (e) => {
          e.preventDefault();
          try {
            const web3 = new Web3(Web3.givenProvider || "ws://localhost:8545");
            const address = (await window.ethereum.enable())[0];
            window.location = `/gists?profile=${address}`
          } catch (e) {
            alert('No address available')
          }
        });
      });

    </script>
  </body>
</html>
