<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/css/style.css">
  </head>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <div class="navbar-co">
	<a class="navbar-brand" href="#">
	  <img src="../static/images/logo.png" class="d-inline-block align-top" alt="">
	</a>
     
	<ul class="navbar-nav ">
	  <li class="nav-item">
            <a class="nav-link" href="#">All gist</a>
	  </li>
	</ul>
      </div>
      <div class="navbar-co">
	<form class="form-inline">
	  <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
	  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
	</form>

	<button type="button" class="btn btn-link" aria-label="Left Align">
	  <span class="fas fa-plus" aria-hidden="true">Gist</span> 
	</button>
	<div class="user-login">
	 <p><img src="https://www.fcien.edu.uy/images/perfiles_egresados/avatar-hombre.png" class="rounded-circle" alt="Cinque Terre"> User</p>
	</div>

	
      </div>
    </div>
  </nav>

  <body>
    <div class="container form">
      <form>
	<div class="form-group">
	  <h2>Description</h2>
	</div>
	<div class="form-group content-textarea">
	  <div class="b-ta">
	    <button class="btn btn-textarea " type="submit">raw</button>
	    <button class="btn btn-textarea " type="submit">download</button>
	    <button class="btn btn-textarea " type="submit">report</button>
	  </div>
	  <textarea disabled class="form-control" id="exampleFormControlTextarea1" rows="13">
Jelly beans candy canes toffee cupcake chupa chups marzipan tiramisu. Bear claw sesame snaps chocolate cake sweet roll brownie liquorice soufflé powder. Muffin tootsie roll croissant gummi bears. Topping jujubes toffee tiramisu gingerbread. Fruitcake gingerbread tootsie roll halvah. Marshmallow pastry jujubes. Sweet roll croissant caramels macaroon muffin. Carrot cake chocolate cheesecake wafer toffee sugar plum jelly-o. Gummi bears marzipan apple pie muffin carrot cake chocolate bar jelly-o. Dessert pudding powder wafer. Dragée biscuit cookie chocolate donut ice cream cake croissant cheesecake. Carrot cake cake dragée carrot cake donut oat cake macaroon.

Jelly beans sesame snaps cotton candy dragée chocolate wafer jelly. Carrot cake cake marzipan sweet sweet roll. Sesame snaps apple pie chocolate cake sweet biscuit candy fruitcake. Pie gingerbread bear claw lemon drops lollipop. Gummi bears bear claw jelly beans chocolate cake jelly-o. Chocolate lollipop dessert jelly beans jelly candy cookie. Marzipan soufflé bear claw cake. Croissant danish pudding. Brownie macaroon sesame snaps. Sesame snaps donut halvah tootsie roll halvah lollipop jelly toffee marzipan. Cake candy danish gummi bears sweet roll oat cake sweet tiramisu marzipan. Gingerbread sweet tart halvah sweet roll carrot cake dragée dessert bear claw. Macaroon dessert oat cake cupcake toffee chocolate bar gingerbread liquorice biscuit. Muffin jelly jelly beans biscuit carrot cake sugar plum cookie jelly candy.
	  </textarea>
	</div>
      </form>
    </div>
  </body>
</html>
